<!--TEMPLATE NAVBAR-->
<div class="container-fluid header">
  <nav class="navbar navbar-expand-md fixed-top">
    <!--HAMBURGER MENU-->
    <a class="navbar-toggler" data-toggle="dropdown" data-target="#collapsibleNavbar">
      <label class="menu-icon"><span class="nav-icon"></span></label>
    </a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav d-flex">
        <li *ngFor="let item of menu">
          <div routerLink="">
            <p>{{ item }}</p>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!--ROUTER PER NAVIGAZIONE-->
<router-outlet></router-outlet>

<!-- TEMPLATE FOOTER -->
<div class="footer">
  <div>
    <h3>My test Template</h3>
    <ul>
      <li>Via Cassia 30, Marciano della chiana (AR)</li>
      <li>d.sadotti@gmail.com</li>
      <li>+39 3662904866</li>
      <li>Icone Social</li>
    </ul>
  </div>
  <div>
    <h5>Categories</h5>
    <ul>
      <li>Men</li>
      <li>Women</li>
      <li>Accessories</li>
      <li>Shoes</li>
      <li>Denim</li>
      <li>Drees</li>
    </ul>
  </div>
  <div>
    <h5>Information</h5>
    <ul>
      <li>About Us</li>
      <li>Contact Us</li>
      <li>Terms & Condition</li>
      <li>Returns</li>
      <li>Shipping</li>
      <li>Privacy Policy</li>
    </ul>
  </div>
  <div>
    <h5>Useful links</h5>
    <ul>
      <li>Store Location</li>
      <li>My Acoount</li>
      <li>Latest News</li>
      <li>Portfolio</li>
      <li>Size Guide</li>
      <li>FAQs</li>
    </ul>
  </div>
  <div>
    <h5>Instagram</h5>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>