.navbar {
    padding: 0;
    color: #ffffff;
    text-transform: uppercase;
}

/*STYLE E ANIMATION DELL'HAMBURGER MENU*/
.navbar-toggler{
    position: fixed;
    top: 10px;
    right: 30px;
}

.menu-icon{
    padding: 10px 0;
    margin: 7px;
    cursor: pointer;
}

.menu-icon .nav-icon{
    background: #000000;
    display: block;
    height: 2px;
    width: 22px;
    position: relative;
    transition: all .2s ease-out;
}

.menu-icon .nav-icon:before{
    background: #000000;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.menu-icon .nav-icon:after{
    background: #000000;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.navbar-toggler:hover .nav-icon{
    background: transparent;
}

.navbar-toggler:hover .nav-icon:before{
    transform: translateY(-5px) rotate(45deg);
}

.navbar-toggler:hover .nav-icon:after{
    transform: translateY(5px) rotate(-45deg);
}

/*STYLE LISTA PAGINE*/
li{
    font-size: 14px;
    list-style: none;
    cursor: pointer;
}

li > div{
    padding: 10px 20px;
    transition: 0.3s;
    display: flex;
}

li > div:hover{
    transform: scale(1.2);
}